.core-values-section{
    width: 70%;
    height: 60px;
    background-color: var(--primary-color);
    position: relative;
    top: -28px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
}
.core-value{
    font-size: 22px;
    font-family: var(--primary-font);
}
.last {
    border: none;
}

@media(max-width: 576px) {
    .core-values-section{
        width: 100%;
        height: 40px;
    }
    .core-value {
        font-size: 15px;
    }
}