.about{
    width: 100%;
    display: flex;
    font-family: var(--primary-font);
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.about-content {
    width: 40%;
}

.about-image {
    background: url('../assets/about-us.jpg') no-repeat center center/cover;
    width: 400px;
    height: 300px;
}
.about h1 {
    font-size: var(--section-heading-font-size);
}
.description {
    color: var(--primary-text-color);
    margin-top: 1.2rem;
    line-height: 24px;
    font-size: 15px;
}

@media(max-width:992px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .about-content {
        width: 80%;
    }
    
}
@media(max-width: 576px) {
    .description {
        font-size: 14px;
    }
}
@media(max-width: 400px) {
    .description {
        font-size: 12px;
        line-height: 18px;
    }
    .about-image{
        width: 360px;
    }
}
