.testimonials{
    padding: 2rem;
    font-family: var(--primary-font);
    background-color: var(--testimonials-bg-color);
}
.testimonials h1{
    text-align: center; 
    font-size: var(--section-heading-font-size);       
}
.testimonials-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.testimonials-container{
    width: 400px;
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;

}
.testimonials-container p{
    font-size: 20px;
    color: var(--primary-text-color);
}
.quotes {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
}
.quotes img{
    width: 48px;
    height: 48px;
}
.author{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    color: var(--primary-color);
    margin-top: 1rem;
}
@media(max-width: 992px) {
    .testimonials-content{
        flex-direction: column;
    }
}
@media(max-width: 420px) {
    .testimonials-container {
        width: 90%;
    }
    .testimonials-container p {
        font-size: 15px;
    }
}