
html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #004a56;
  --secondary-color: white;
  --primary-font: "Inter Tight", sans-serif;;
  --secondary-font: "Rubik Glitch", system-ui;
  --hero-overlay-color: #04939357;
  --navigation-bg-color: #ffffffe5;
  --service-box-bg-color: #3a8486;
  --testimonials-bg-color: #f1f1f1;
  --why-choose-us-box-bg-color: #126472;
  --heading-font-size: 32px;
  --section-heading-font-size: 48px;
  --para-font-size: 18px;
  --heading-bg-color: rgba(255, 255, 255, 0.375);
  --primary-text-color: rgb(62, 62, 62);
  --mobile-heading-size: 24px;
  --extra-small: 18px;
  --mobile-logo-size: 10px;
}
.tagline {
    color: var(--primary-color);
    font-style: italic;
}
.center{
  text-align: center;
}
